.skills{
    display: block;
    line-height: 3.5vw;
    margin-top: 50px;
  
}

.progress-bars{
      padding:10px;
   margin: 20px;
}


.seperator-div{
    background-image: linear-gradient(to right top,#3654e7,#5c52e9,#784feb,#914aeb,#a745ea,#7d68fb,#4d7fff,#0091ff,#00acfd,#00bdd9,#00c8a3,#6bcc70);
    height: 6px;
    width: 40%;
    border-radius: 3px;
    margin: 16px 0;
}

.section-title{
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 100px;
}



.meter span {
    display: block;
    height: 100%;
 
    border-radius: 5px 5px 5px 5px;
    background-color: #aaa5ff;
    position: relative;
    overflow: hidden;
}


.ReactJS{
    width: 100%;
}

.skill-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.meter{
    height: 20px;
    position: relative;
    background: #f3efef;
    border-radius: 25px;
}

.skill-icons{
    height: 200px;
}
